# Flutter
/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/.packages
/.pub-cache/
/build/

# Android
**/android/app/build/
**/android/.gradle/
**/android/.idea/
**/android/.dart_tool/
**/android/.flutter-plugins
**/android/.flutter-plugins-dependencies

# iOS
**/ios/.symlinks/
**/ios/Flutter/
**/ios/Runner.xcworkspace/
**/ios/Runner.xcodeproj/

# Web
**/web/assets/

# IDE
.idea/
.vscode/

# Local files
.env
.env.local
.env.*.local

# Distribution
*.apk
*.ipa
*.aab

# Logs
logs
*.log

# Assets
assets/model/
assets/sounds/

# Dependencies
*.pem
